<body class="fundadores">
    <div class="us">
        <h1>@ViewBag.Message</h1>
    </div>
    <hr>

    <br>
        <p4>
            <span class="text1">
                Te damos la bienvenida a <strong>ArgenClima</strong>, una pagina para mantenerte siempre informado.
            </span>
        </p4>
        <div class="text3">
            <h2>¿Qué es ArgenClima?</h2>
            <h5>
                En lo que respecta al “ArgenClima” el objetivo del mismo es mantener informados a los usuarios sobre el estado
                del clima con los factores correspondientes (como humedad, vientos, precipitaciones, etc.) en la
                provincia Buenos Aires, brindándole a todos los usuarios una precisa información y en tiempo real en relación a
                dichos medios del clima.
            </h5>
            <h2>¿Cual es la ventaja de ser un suscriptor?</h2>
            <h5>
                Desde “ArgenClima” ofrecemos a los usuarios la posibilidad de adquirir una suscripcion premium a
                través de la cual enviaremos notificaciones al mail de dichos usuarios con la información que ellos
                hayan marcado como preferencial al momento de registrarse en nuestro sitio.
            </h5>

            <h2>¿Como puedo contactarme con los desarrolladores?</h2>
            <h5>
                Los usuarios se podrán poner en contacto con los administradores y/o responsables de la página
                clickeando la opción “contacto” ubicada en el home de la página, la misma lo redirigirá a su aplicativo de mail.
            </h5>

            <h2>¿Que requisitos necesito para suscribirme?</h2>
            <h5>El usuario deberá ingresar su nombre y apellido, correo electrónico, fecha de nacimiento y mail.</h5>
        </div>
        <br>
        <br>
        <br /><br /><br /><br />
        <p6>
            <span class="text2">
                FERNANDO GOMEZ - CO-FUNDER<br>
                MAXIMILIANO RIOS - CO-FOUNDER<br>
                AGUSTIN SANCHEZ - CO-FOUNDER<br>
                MATIAS CASULLO - CO-FOUNDER
            </span>
        </p6>
</body>
