
<h3>@ViewBag.Message</h3>

<address>
    <strong>Support:</strong><a style="color:blue"; href="mailto:argenclima-support@argenclima.com.ar">
        argenclima-support@argenclima.com.ar
        </a>
</address>