<body>
    <div class="container jumbotron home-body">
        <h1>@ViewBag.Title</h1>
        <h2>@ViewBag.Message</h2>
    </div>

    <center>
        <div class="contenedor123">
            <img class="img-responsive" src="~/Content/img/mapabsas.png" />
            <h10>
                <div class="texto-encima texto-encima-capitalfederal">
                    <a href="#cf">
                        Capital Federal
                    </a>
                </div>
            </h10>
            <br />
            <h10>
                <div class="texto-encima texto-encima-mdq">
                    <a href="#mdq">Mar Del Plata</a>
                </div>
            </h10>
            <br />
            <h10>
                <div class="texto-encima texto-encima-laplata">
                    <a href="#lp">La Plata</a>
                </div>
            </h10>
            <h10>
                <div class="texto-encima texto-encima-necochea">
                    <a href="#nc">Necochea</a>
                </div>
            </h10>
            <h10>
                <div class="texto-encima texto-encima-bblanca">
                    <a href="#bb">Bahia Blanca</a>
                </div>
            </h10>
            <h10>
                <div class="texto-encima texto-encima-tandil">
                    <a href="#td">Tandil</a>
                </div>
            </h10>
            <h10><div class="texto-encima texto-encima-azul"><a href="#az">Azul</a></div></h10>
            <h10>
                <div class="texto-encima texto-encima-arrecifes">
                    <a href="#arrecifes">Arrecifes</a>
                </div>
            </h10>
            <h10>
                <div class="texto-encima texto-encima-gesell">
                    <a href="#vg">Villa Gesell</a>
                </div>
            </h10>
            <h10>
                <div class="texto-encima texto-encima-santateresita">
                    <a href="#st">Santa Teresita</a>
                </div>
            </h10>
        </div>
        <br />
        <a name="cf" style="color: blue">Capital Federal:</a>
        <a class="weatherwidget-io"
           href="https://forecast7.com/es/n34d60n58d38/buenos-aires/"
           data-label_1="BUENOS AIRES"
           data-icons="Climacons Animated"
           data-theme="original"
           data-font="Verdana">BUENOS AIRES</a>
        <br />
        <a name="mdq" style="color: blue">Mar Del Plata:</a>
        <a class="weatherwidget-io"
           href="https://forecast7.com/es/n38d01n57d54/mar-del-plata/"
           data-label_1="MAR DEL PLATA"
           data-icons="Climacons Animated"
           data-theme="original"
           data-font="Verdana">MAR DEL PLATA</a>
        <br />
        <a name="lp" style="color: blue">La Plata:</a>
        <a class="weatherwidget-io"
           href="https://forecast7.com/es/n34d92n57d95/la-plata/"
           data-label_1="LA PLATA"
           data-icons="Climacons Animated"
           data-theme="original"
           data-font="Verdana">LA PLATA</a>
        <br />
        <a name="nc" style="color: blue">Necochea:</a>
        <a class="weatherwidget-io"
           href="https://forecast7.com/es/n38d55n58d74/necochea/"
           data-label_1="NECOCHEA"
           data-icons="Climacons Animated"
           data-theme="original"
           data-font="Verdana">NECOCHEA</a>
        <br />
        <a name="az" style="color: blue">Azul:</a>
        <a class="weatherwidget-io"
           href="https://forecast7.com/es/n36d77n59d85/azul/"
           data-label_1="AZUL"
           data-icons="Climacons Animated"
           data-theme="original"
           data-font="Verdana">AZUL WEATHER</a>
        <br />
        <a name="bb" style="color: blue">Bahia Blanca:</a>
        <a class="weatherwidget-io"
           href="https://forecast7.com/es/n38d72n62d27/bahia-blanca/"
           data-label_1="BAHÍA BLANCA"
           data-icons="Climacons Animated"
           data-theme="original"
           data-font="Verdana">BAHÍA BLANCA</a>
        <br />
        <a name="td" style="color: blue">Tandil:</a>
        <a class="weatherwidget-io"
           href="https://forecast7.com/es/n37d33n59d14/tandil/"
           data-label_1="TANDIL"
           data-icons="Climacons Animated"
           data-theme="original"
           data-font="Verdana">TANDIL</a>
        <br />
        <a name="vg" style="color: blue">Villa Gesell:</a>
        <a class="weatherwidget-io"
           href="https://forecast7.com/es/n37d26n56d97/villa-gesell/"
           data-label_1="VILLA GESELL"
           data-icons="Climacons Animated"
           data-theme="original"
           data-font="Verdana">VILLA GESELL</a>
        <br />
        <a name="arrecifes" style="color: blue">Arrecifes:</a>
        <a class="weatherwidget-io"
           href="https://forecast7.com/es/n34d06n60d10/arrecifes/"
           data-label_1="ARRECIFES"
           data-icons="Climacons Animated"
           data-theme="original"
           data-font="Verdana">ARRECIFES</a>
        <br />
        <a name="st" style="color: blue">Santa Teresita:</a>
        <a class="weatherwidget-io"
           href="https://forecast7.com/es/n36d54n56d69/santa-teresita/"
           data-label_1="SANTA TERESITA"
           data-font="Verdana"
           data-icons="Climacons Animated"
           data-theme="original">SANTA TERESITA</a>
        <button onclick="goToTop()" id="myBtn" title="Go to top">
            Top
        </button>
    </center>
</body>