
@{
    ViewBag.Title = "Forget";
}


<body class="body">
    <div>
        <header>
            <h1>ArgenClima</h1>
        </header>
    </div>
    <h2>Forget</h2>

    <div>
        <div class="col-sm-8 main-section">
            <div class="remember">
                <h3>Ingrese su mail y le enviaremos un link para reestablecer su contraseña</h3>
                <input id="forget" class="email-address" placeholder="Ingrese su email" />
                <button class="boton" href="#" onclick="submitForm()">Recordar</button>
            </div>

        </div>
    </div>
</body>