@model  ArgenClima.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div>
        <div class="main-section">
            <div class="modal-content user-img">
                <div class="col-12">
                    <img src="~/Content/img/usuario-sin-foto.png" />
                </div>
                <form class="col-12">
                    <div class="form-group" id="user-group">
                        <input type="text" class="form-control" placeholder="Nombre de Usuario" />
                    </div>
                    <div class="form-group" id="contraseña-group">
                        <input type="password" class="form-control" placeholder="Contraseña" />
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Ingresar
                    </button>
                </form>

                <div class="col-12 forgot">
                    <a onclick="goToForget()"> Olvide mi contraseña </a>
                </div>

                <div class="col-12 notRegister">
                    No estas registrado?<a onclick="goToRegister()"> Click aqui! </a>
                </div>
            </div>
        </div>
    </div>
</body>


